<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

<listeners>
<listener class-name="test.Listeners"/>
<listener class-name="resources.ExtentReports"/>
</listeners>

  <test name="ValidatingPagetitle">
    <classes>
      <class name="test.ValidateLandingPageTitle"/>
     </classes>
     </test>
     
     <test name="ValidatingUserLogin">
    <classes>
      <class name="test.Home"/>
     </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
